<%= form_with url: new_availability_path, method: :get do |form| %>
  
  <% if Date.parse(params[:date]) < Date.today%>

    <div class="error-message">
      <h3> Sorry </h3>
      <p>Date can't be less than from today's date</p>
    </div>

  <% elsif (Date.parse(params[:date]) - Date.today).to_i > 60 %>

    <div class="error-message">
      <h3> Sorry </h3>
      <p>You only can find trains under current 60 days</p>
    </div>

  <% else %>

    <% date = Date.parse(params[:date])%>
    <% day = date.strftime("%A")%>

    <div class = "Details" >
    <h1 class = "display-4 text-center">Details</h1>
    
    <% @trains = TrainDetail.where(from: params[:from], to: params[:to]).where("days LIKE ?", "%#{day}%")%>
    
    <% begin %>
      <% raise 'Train has not found' if @trains.empty?%>
      
      <div class = "Date">
       <table>
        <thead>
         <tr>
          <th> Select </th>
          <th>Train Code</th>
          <th>Train Name</th>
          <th>From</th>
          <th>To</th> 
          <th>Arrival Time</th>
          <th>Departure Time</th>
          <th>Time for destination</th>
          <th>2AC seats</th>
          <th>2AC Price</th>
          <th>1AC seats</th>
          <th>1AC Price</th>
          <th>General</th>
          <th>General Price</th>
         </tr>
        </thead>
  
        <tbody>
          <% @trains.each do|train| %>
          <tr>
          <td scope= "row"><%= form.radio_button :train_id, train.id, required: true %></td>
          <td><%= train.train_code%></td>
          <td><%= train.train_name%></td>
          <td><%= train.from%></td>
          <td><%= train.to%></td>
          <td><%= train.arrival_time.strftime("%H:%M:%S")%></td>
          <td><%= train.departure_time.strftime("%H:%M:%S")%></td>
          <td><%= (train.departure_time+(train.travel_time_hrs*60)).strftime("%H:%M:%S")%></td>
          <td><%= train.class_2a_count%></td>
          <td><%= train.class_2a_price%> Rs</td>
          <td><%= train.class_1a_count%></td>
          <td><%= train.class_1a_price%> Rs</td>
          <td><%= train.class_general_count%></td>
          <td><%= train.class_general_price%> Rs</td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= form.hidden_field :date, value: params[:date] %>
  
  
     <div class="form-action-container">
       <%= form.submit "Next", class: "form-action" %>
     </div>


  <% rescue StandardError => e %>
    <div class="error-message">
       <h3> <%= e %> </h3>
    </div>
  <% end %>

  <% end %>

  
<% end %>



