<%= form_with url: new_availability_path, method: :get do |form| %>
  
  <% if Date.parse(params[:date]) < Date.today%>

    <div class="error-message">
      <h3> Sorry </h3>
      <p>Date can't be less than from today's date</p>
    </div>

  <% elsif (Date.parse(params[:date]) - Date.today).to_i > 60 %>

    <div class="error-message">
      <h3> Sorry </h3>
      <p>You only can find trains under current 60 days</p>
    </div>

  <% else %>

    <% date = Date.parse(params[:date])%>
    <% day = date.strftime("%A")%>

    <h1 class = "display-4 text-center">Details</h1>
    
    <% @trains = TrainDetail.where(from: params[:from], to: params[:to]).where("days LIKE ?", "%#{day}%")%>
    
    <% begin %>
      <% raise 'Train has not found' if @trains.empty?%>
      
      <div class="table-container">
       <table class="table table-striped">
        <thead>
         <tr>
          <th scope="col"> Select </th>
          <th scope="col">Train Code</th>
          <th scope="col">Train Name</th>
          <th scope="col">From</th>
          <th scope="col">To</th> 
          <th scope="col">Arrival Time</th>
          <th scope="col">Departure Time</th>
          <th scope="col">Time for destination</th>
          <th scope="col">2AC seats</th>
          <th scope="col">Price</th>
          <th scope="col">1AC seats</th>
          <th scope="col">Price</th>
          <th scope="col">General</th>
          <th scope="col">Price</th>
         </tr>
        </thead>
  
        <tbody>
          <% @trains.each do|train| %>
          <tr>
          <td scope= "row"><%= form.radio_button :train_id, train.id %></td>
          <td><%= train.train_code%></td>
          <td><%= train.train_name%></td>
          <td><%= train.from%></td>
          <td><%= train.to%></td>
          <td><%= train.arrival_time.strftime("%H:%M:%S")%></td>
          <td><%= train.departure_time.strftime("%H:%M:%S")%></td>
          <td><%= (train.departure_time+(train.travel_time_hrs*60)).strftime("%H:%M:%S")%></td>
          <td><%= train.class_2a_count%></td>
          <td><%= train.class_2a_price%></td>
          <td><%= train.class_1a_count%></td>
          <td><%= train.class_1a_price%></td>
          <td><%= train.class_general_count%></td>
          <td><%= train.class_general_price%></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= form.hidden_field :date, value: params[:date] %>
  
  <div class="form-action">
      <%= form.submit "Next", class: "submit-button" %>
  </div>

  <% rescue StandardError => e %>
    <div class="error-message">
       <h3> <%= e %> </h3>
    </div>
  <% end %>

  <% end %>

  
<% end %>



