<h3> Enter Details </h3>

<%= form_with model: @reservation , url: reservations_path, method: :post do |form| %>

<%= form.label :passenger_name ,'Passenger Name :' %>
<%= form.text_field :passenger_name %>

<%= form.label :date_of_birth, 'DOB' %>
<%= form.date_field :date_of_birth, required: true %>

<%= form.label :age , 'Age' %>
<%= form.text_field :age %>

<%= form.label :gender, 'Gender' %>
<%= form.select :gender, ['Female', 'Male', 'Others'] %>

<%= form.label :berth_class, 'Class' %>
<%= form.select :berth_class, ['1AC', '2AC','General'] %>

<%= form.label :email, 'Email ID' %>
<%= form.email_field :email %>

<%= form.label :phone_number, 'Phone Number' %>
<%= form.telephone_field :phone_number %>

<%= form.hidden_field :available_id, value: params[:available_id]%>
<%= form.hidden_field :date , value: params[:date] %>
<%= form.hidden_field :train_detail_id, value: params[:train_detail_id]%>

<%= form.submit 'Confirm' %>

<% end %>