<% count = params[:number_of_passenger].to_i || 1 %>

<h3> Enter Details </h3>
 <%= form_with model: @reservation , url: reservations_path, method: :post do |form| %>

  <% count.times do |i| %>
  <div class = "reservation">
    <div class="form-section">
      <%= label_tag "reservation[passenger_name][]", "Passenger Name" %>
      <%= text_field_tag "reservation[passenger_name][]", nil, required: true %>
      
      <%= label_tag "reservation[date_of_birth][]", "Date of Birth" %>
      <%= date_field_tag "reservation[date_of_birth][]", nil, required: true %>
      
      <%= label_tag "reservation[gender][]", "Gender" %>
      <%= select_tag "reservation[gender][]", options_for_select(['Female', 'Male', 'Others']), required: true %>
    </div>
    <hr>
  <% end %>

   <div class="form-group">
    <%= form.label :berth_class, 'Class' %>
    <%= form.select :berth_class, ['1AC', '2AC','General'] %>
  </div>

  <div class="form-group">
    <%= form.label :email, 'Email ID' %>
    <%= form.email_field :email %>
  </div>

  <div class="form-group">
    <%= form.label :phone_number, 'Phone Number' %>
    <%= form.telephone_field :phone_number %>
  </div>

    <%= form.hidden_field :available_id, value: params[:available_id]%>
    <%= form.hidden_field :date , value: params[:date] %>
    <%= form.hidden_field :train_detail_id, value: params[:train_detail_id]%>
    <%= form.submit 'Submit' %>
  </div>
  <% end %>