<h3> Enter Details </h3>
<%= form_with model: @reservation, url: reservations_path, method: :post do |form| %>

  <div id="passenger_detail">
    <%= form.fields_for :passengers do |passenger_form| %>

      <div class="passenger-group">
        <%= passenger_form.label :passenger_name, 'Passenger Name' %>
        <%= passenger_form.text_field :passenger_name, required: true %>

        <%= passenger_form.label :date_of_birth, 'DOB' %>
        <%= passenger_form.date_field :date_of_birth, required: true %>

        <%= passenger_form.label :gender, 'Gender' %>
        <%= passenger_form.select :gender, ['Female', 'Male', 'Others'], {}, { required: true } %>
        <button class="remove-passenger" type="button">Remove</button>
      </div>

    <% end %>
  </div>

  <button id="add-button" type="button">Add More</button>

  
  <div class="form-group">
    <%= form.label :berth_class, 'Class' %>
    <%= form.select :berth_class, ['1AC', '2AC', 'General'] %>
  </div>

  <div class="form-group">
    <%= form.label :email, 'Email ID' %>
    <%= form.email_field :email %>
  </div>

  <div class="form-group">
    <%= form.label :phone_number, 'Phone Number' %>
    <%= form.telephone_field :phone_number %>
  </div>

  <%= form.hidden_field :available_id, value: params[:available_id] %>
  <%= form.hidden_field :date, value: params[:date] %>
  <%= form.hidden_field :train_detail_id, value: params[:train_detail_id] %>
  <%= form.submit 'Submit' %>

<% end %>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const addPassengerButton = document.getElementById("add-button");
  const passengersDiv = document.getElementById("passenger_detail");
  let passengerIndex = <%= @reservation.passengers.size %>; 

  addPassengerButton.addEventListener("click", () => {
    const newPassengerDiv = document.createElement("div");
    newPassengerDiv.classList.add("passenger-group");

    newPassengerDiv.innerHTML = `
      <label for="reservation_passengers_attributes_${passengerIndex}_passenger_name">Passenger Name</label>
      <input type="text" name="reservation[passengers_attributes][${passengerIndex}][passenger_name]" id="reservation_passengers_attributes_${passengerIndex}_passenger_name" required>
      
      <label for="reservation_passengers_attributes_${passengerIndex}_date_of_birth">DOB</label>
      <input type="date" name="reservation[passengers_attributes][${passengerIndex}][date_of_birth]" id="reservation_passengers_attributes_${passengerIndex}_date_of_birth" required>
      
      <label for="reservation_passengers_attributes_${passengerIndex}_gender">Gender</label>
      <select name="reservation[passengers_attributes][${passengerIndex}][gender]" id="reservation_passengers_attributes_${passengerIndex}_gender" required>
        <option value="Female">Female</option>
        <option value="Male">Male</option>
        <option value="Others">Others</option>
      </select>
      
      <button type="button" class="remove-passenger">Remove</button>
    `;

    passengersDiv.appendChild(newPassengerDiv);
    passengerIndex++;

    newPassengerDiv.querySelector('.remove-passenger').addEventListener('click', () => {
      newPassengerDiv.remove();
    });
  });
});
</script>