<h3> Enter Details </h3>
<%= form_with model: @reservation, url: reservations_path, method: :post do |form| %>

  <div id="passenger_detail">
    <%= form.fields_for :passengers do |passenger_form| %>

      <div class="passenger-group">
        <%= passenger_form.label :passenger_name, 'Passenger Name' %>
        <%= passenger_form.text_field :passenger_name, required: true %>

        <%= passenger_form.label :date_of_birth, 'DOB' %>
        <%= passenger_form.date_field :date_of_birth, required: true %>

        <%= passenger_form.label :gender, 'Gender' %>
        <%= passenger_form.select :gender, ['Female', 'Male', 'Others'], {}, { required: true } %>
        <button class="remove-passenger" type="button">Remove</button>
      </div>

    <% end %>
  </div>

  <button id="add-button" type="button">Add More</button>

  <div id="passenger-template" style="display: none;">
    <div class="passenger-group" style="display: block;">
      <label for="passenger_name">Passenger Name</label>
      

      <label for="date_of_birth">DOB</label>
      
      <label for="gender">Gender</label>
      
      <button class="remove-passenger" type="button">Remove</button>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :berth_class, 'Class' %>
    <%= form.select :berth_class, ['1AC', '2AC', 'General'] %>
  </div>

  <div class="form-group">
    <%= form.label :email, 'Email ID' %>
    <%= form.email_field :email %>
  </div>

  <div class="form-group">
    <%= form.label :phone_number, 'Phone Number' %>
    <%= form.telephone_field :phone_number %>
  </div>

  <%= form.hidden_field :available_id, value: params[:available_id] %>
  <%= form.hidden_field :date, value: params[:date] %>
  <%= form.hidden_field :train_detail_id, value: params[:train_detail_id] %>
  <%= form.submit 'Submit' %>

<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const passengerDetail = document.getElementById('passenger_detail');
    const passengerTemplate = document.getElementById('passenger-template').innerHTML;
    const addButton = document.getElementById('add-button');

    addButton.addEventListener('click', function () {
      passengerDetail.insertAdjacentHTML('beforeend', passengerTemplate);
    });

    passengerDetail.addEventListener('click', function (event) { 
      if (event.target.classList.contains('remove-passenger')) {
        event.target.closest('.passenger-group').remove();
      }
    });
  });
</script>
