<h1>Reservation Cancelled ! </h1>
Name: <%= @passenger.passenger_name %>
PNR: <%= @passenger.pnr %>
Ticket Status: <%= @passenger.ticket_status %>
Date_of_birth: <%= @passenger.date_of_birth %>
Gender: <%= @passenger.gender %>
<b>Amount will be refunded in 24 hrs </b>