<div class="confirm-reservations-container">
  <h2>Confirm Reservations</h2>
  <div class="reservations-table">
    <table>
      <thead>
        <tr>
          <th>Passenger Name</th>
          <th>Gender</th>
          <th>DOB</th>
          <th>Date</th>
          <th>PNR</th>
          <th>Seat Number</th>
          <th>Berth Class</th>
          <th>Ticket Status</th>
          <th>Payment Status</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody>
        <% @passengers = Passenger.all %>
        <% @passengers.each do |passenger| %>
          
          <% if passenger.reservation.date >= Date.today %>
              <% if passenger.reservation.payment_status == 'Done' && passenger.ticket_status == 'Done' %>
                <tr>
                  <td><%= passenger.passenger_name %></td>
                  <td><%= passenger.gender %></td>
                  <td><%= passenger.date_of_birth %></td>
                  <td><%= passenger.reservation.date %></td>
                  <td><%= passenger.pnr %></td>
                  <td><%= passenger.seat_number %></td>
                  <td><%= passenger.reservation.berth_class %></td>
                  <td><%= passenger.ticket_status %></td>
                  <td><%= passenger.reservation.payment_status %></td>
                  <td>
                    <%= form_with url: reservation_path(passenger), method: :delete do |form| %>
                      <%= form.hidden_field 'available_id', value: passenger.reservation.available_id %>
                      <%= form.hidden_field 'train_detail_id', value: passenger.reservation.train_detail_id %>
                      <%= form.hidden_field 'berth_class', value: passenger.reservation.berth_class %>
                      <%= form.hidden_field 'date', value: passenger.reservation.date %>
                      <%= form.hidden_field 'id', value: passenger.id %>
                      <%= form.submit 'Cancel' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
