  <div class = 'search'>
  <h1 style="text-align: center;", class="display-4">Search</h1>
  
  
  <%= form_with url: train_details_path, method: :get do |form| %>

    <div class = "from" >
    <%= form.label :from, "From: *" %>
    <%= form.select :from, TrainDetail.order(:from).distinct.pluck(:from),{ }, { required: true} %>
    </div>

    <div class = "to">
    <%= form.label :to, "To: *" %>  
    <%= form.select :to, TrainDetail.order(:to).distinct.pluck(:to), { }, {required: true} %>
    </div>

    <div class = "date">
    <%= form.label :date, "Date: *"%>
    <%= form.date_field :date , required: true %>
    </div>
    <%= form.submit "Search" %>

  <% end %>
</div>

