  <h1 style="text-align: center;", class="display-4">Search</h1>
  
  <div class = 'search'>
  <%= form_with url: train_details_path, method: :get do |form| %>

    <div class = "from" >
    <%= form.label :from, "From: *" %>
    <%= form.select :from, Search.order(:city).pluck(:city),{ }, { required: true} %>
    </div>

    <div class = "to">
    <%= form.label :to, "To: *" %>  
    <%= form.select :to, Search.order(:city).pluck(:city), { }, {required: true} %>
    </div>

    <div class = "date">
    <%= form.label :date, "Date: *"%>
    <%= form.date_field :date , required: true %>
    </div>
    <%= form.submit "Search" %>

  <% end %>
</div>

<%= link_to "Wait List", "/wait_list" %>
<%= render partial: 'reservation_cancellation', locals: {reservations: @reservations} %>
