<div class="confirm-reservations-container">
  <h2>Confirm Reservations</h2>
  <div class="reservations-table">
    <table>
      <thead>
        <tr>
          <th>Passenger Name</th>
          <th>Age</th>
          <th>Gender</th>
          <th>DOB</th> 
          <th>Date</th>
          <th>PNR</th>
          <th>Seat Number</th>
          <th>Berth Class</th>
          <th>Ticket Status</th>
          <th>Payment Status</th>
          <th> Select </th>
        </tr>
      </thead>
      <tbody>
        <% @reservations = Reservation.all %>
        <% @reservations.each do |reservation| %>
          <% if reservation.date >= Date.today && reservation.payment_status == 'Done' && reservation.ticket_status == 'Done' %>
            <tr>
              <td><%= reservation.passenger_name %></td>
              <td><%= reservation.age %></td>
              <td><%= reservation.gender %></td>
              <td><%= reservation.date_of_birth %></td>
              <td><%= reservation.date %></td>
              <td><%= reservation.pnr %></td>
              <td><%= reservation.seat_numbers %></td>
              <td><%= reservation.berth_class %></td>
              <td><%= reservation.ticket_status %></td>
              <td><%= reservation.payment_status %></td>
              <td>
                <%= form_with url: reservation_path(reservation), method: :delete do |form| %>
                  <%= form.hidden_field 'available_id', value: reservation.available_id %>
                  <%= form.hidden_field 'train_detail_id', value: reservation.train_detail_id %>
                  <%= form.hidden_field 'berth_class', value: reservation.berth_class %>
                  <%= form.hidden_field 'date', value: reservation.date %>
                  <%= form.hidden_field 'id', value: reservation.id %>
                  <%= form.submit 'Cancel' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
