<div class="waitlist-container">
  <h2>Wait List</h2>
  <div class="waitlist-table">
    <table>
      <thead>
        <tr>
          <th>Passenger Name</th>
          <th>Gender</th>
          <th>DOB</th>
          <th>Date</th>
          <th>Berth Class</th>
          <th>Ticket Status</th>
          <th>Payment Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @passengers_in_waitlist = WaitList.all %>
        <% if @passengers_in_waitlist.empty? %>
          <tr>
            <td colspan="8">No passenger in wait list</td>
          </tr>
        <% else %>
          <% @passengers_in_waitlist.each do |waitlist_passenger| %>
            <% reservation = Reservation.find(waitlist_passenger.reservation_id) %>

            <% if reservation.date >= Date.today && reservation.payment_status == 'Done' && waitlist_passenger.passenger.ticket_status == 'Pending' %>
              <tr>
                <td><%= waitlist_passenger.passenger.passenger_name %></td>
                <td><%= waitlist_passenger.passenger.gender %></td>
                <td><%= waitlist_passenger.passenger.date_of_birth %></td>
                <td><%= reservation.date %></td>
                <td><%= reservation.berth_class %></td>
                <td><%= waitlist_passenger.passenger.ticket_status %></td>
                <td><%= reservation.payment_status %></td>
                <td>
                  <%= form_with url: waitlist_reservation_path(waitlist_passenger.passenger_id), method: :delete do |form| %>
                    <%= form.hidden_field :available_id, value: waitlist_passenger.available_id %>
                    <%= form.hidden_field :train_detail_id, value: waitlist_passenger.train_detail_id %>
                    <%= form.hidden_field :berth_class, value: waitlist_passenger.berth_class %>
                    <%= form.hidden_field :date, value: reservation.date %>
                    <%= form.hidden_field :reserved_id, value: reservation.id %>
                    <%= form.hidden_field :passenger_id, value: waitlist_passenger.passenger_id %>
                    <%= form.hidden_field :waitlist_id, value: waitlist_passenger.id %>
                    <%= form.submit 'Cancel' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
