<% Available.exists?(dates: params[:date], train_detail_id: params[:train_id]) ? @available = Available.find_by(dates: params[:date], train_detail_id: params[:train_id]) : @available = Available.create!(dates: params[:date], train_detail_id: params[:train_id]) %>

<div class= "availability-container">
  <%= form_with url: new_reservation_path, method: :get do |form| %>
    <h3> Availabilities </h3>
    <% train = TrainDetail.find(params[:train_id]) %>
    <% berth_2ac = @available._2AC_available%>
    <% berth_1ac = @available._1AC_available%>
    <% berth_genral = @available.general_available%>

    <table>
     <thead>
       <tr>
        <th>Date</th>
        <th>2AC Berth</th>
        <th>1AC Berth</th>
        <th>General</th>
       </tr>

       </thead>

      <tbody>
        <tr>
          <td><%= params[:date]%></td>
          <td><%= berth_2ac %></td>
          <td><%= berth_1ac %></td>
          <td><%= berth_genral %></td>
        </tr>

       </tbody>
     </table>

    <%= form.hidden_field :date , value: params[:date] %>
    <%= form.hidden_field :train_detail_id, value: params[:train_id]%>
    <%= form.hidden_field :available_id, value: @available.id %>
    <%= form.submit 'Continue' %>

  <% end %>
</div>



