<!DOCTYPE html>
<html>
  <head>
    <title>Railway Reservation System</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    
    <%= stylesheet_link_tag 'searches', media: 'all' %>
    <%= stylesheet_link_tag 'availabilities', media: 'all' %>
    <%= stylesheet_link_tag 'train_details', media: 'all' %>
    <%= stylesheet_link_tag 'reservations', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    

   
   <header>
      <%# navbar start from here %>
    <nav>
      <% if user_signed_in? %>
      
        <div >
          <%= link_to 'Edit profile',edit_user_registration_path %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete%>
        </div>

      <%else%>

        <div>
          <%= link_to 'Sign_up',new_user_registration_path, class: "navbar-brand" %>
        </div>
      <%end%>

      </nav>
        <%# navbar ends here %>
    <header>

    <%= yield %>
  </body>
</html>
